.button {
    background-color: #587e76;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 10%;
    margin: 3px;
}

.button:hover {
    background-color: #6A5ACD;
}

.deleteButton {
    color: white;
    margin: 3px;
    background-color: #622569;
    width: 25px;
    height: 25px;
}